.PianoPage {
  width: 100%;
  margin: 0 auto;
}

.PianoPage p {
  color: #c8f1d7;
  font-family: "Montserrat-Thin", Arial, sans-serif;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.LecteursContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 6%;
  margin-right: auto;
  flex-wrap: wrap;
  flex-basis: 100%;
}
@media (max-width: 508px) {
  .LecteursContainer {
    max-width: 100%;
    flex-direction: column;
    margin: 0 auto;
  }
  .Player {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;

    width: 100%;
  }
}
