.audio-player {
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 5px;
  margin: 5px;
  width: 222px;
  height: 140px;
  background: linear-gradient(135deg, #d4d237, #2a5298);
  color: white;
  font-family: Arial, sans-serif;
  text-align: left;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.audio-player h3 {
  margin: 2px 0;
  font-size: 10px;
  color: #fff;
}

.audio-player p {
  margin-top: 2px;
  margin-left: 1px;
  font-size: 8px;
  color: #ddd;
}

.AudioControls {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-top: 5px;
  margin-bottom: 8px;
}
.AudioControls .Play {
  background-color: red;
}
.AudioControls .Pause {
  background-color: rgb(97, 81, 81);
}
.AudioControls .Stop {
  background-color: rgb(39, 126, 170);
}
.AudioControls .Rewind {
  background-color: rgb(164, 39, 170);
}
.AudioControls .Forward {
  background-color: rgb(164, 39, 170);
}
.AudioControls button {
  color: #fff; /* Couleur de texte blanche */
  padding: 10px 15px; /* Espacement intérieur */
  border: none; /* Pas de bordure */
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer; /* Curseur en forme de main */
  transition: background-color 0.3s; /* Effet de transition */
}

.AudioControls button:hover {
  background-color: #11e795; /* Couleur de fond plus foncée lors du survol */
}

.AudioControls button:active {
  background-color: #2e6d31; /* Couleur de fond plus foncée lors du clic */
}

.ProgressContainer {
  margin-top: 5px;
}

.ProgressBar {
  width: 90%;
  height: 4px;
  background: #ddd;
  border-radius: 3px;
  appearance: none;
}

.ProgressBar::-webkit-slider-thumb {
  appearance: none;
  width: 8px;
  height: 8px;
  background: #f1c40f;
  border-radius: 50%;
  cursor: pointer;
}

.VolumeContainer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.VolumeSlider {
  margin-top: 8px;
  width: 80%;
  appearance: none;
  background: #ddd;
  height: 4px;
  border-radius: 3px;
}

.VolumeSlider::-webkit-slider-thumb {
  appearance: none;
  width: 8px;
  height: 8px;
  background: #f1c40f;
  border-radius: 50%;
  cursor: pointer;
}
