.HomePage p {
  color: rgb(238, 223, 223);
  font-family: "Montserrat-Thin", Arial, sans-serif;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.GuerinVideo {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
.GuerinVideo iframe {
  border-radius: 10px;
  border: 5px solid #8df6b4;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}
.MusinfOne {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
.MusinfOne iframe {
  border-radius: 10px;
  border: 5px solid #8df6b4;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}
.MusinfTwo {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
.MusinfTwo iframe {
  border-radius: 10px;
  border: 5px solid #8df6b4;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}
.Bic {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
.Bic iframe {
  border-radius: 10px;
  border: 5px solid #8df6b4;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}
.NBvideo {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
.NBvideo iframe {
  border-radius: 10px;
  border: 5px solid #8df6b4;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 508px) {
  .HomePage p {
    font-size: 18px !important;
    max-width: 100%;
  }
}
